        body {
            color: white;
            background-image: url('/images/page.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-size: 12px;
        }
        .container {
            background: rgba(0, 0, 0, 0.5);
            padding: 2rem;
            border-radius: 16px;
            font-size: 12px;
        }
        
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: #ccc;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 90px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #193b3a;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color: #1ABC9C ;
    border-color: #1ABC9C ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}

        .header-image {
            width: 100%;
            height: auto;
            border-radius: 16px;
        }
        h2.title-color, h3.title-color {
            color: #08f2f2;
        }
        p.paragraph-color {
            color: #a4e7f0;
        }
